{% extends 'base.html.twig' %}
{% trans_default_domain "JTContactUsBundle" %}
{% block body %}
<h1>{{ 'subject.new.title'|trans }}</h1>
{{ form_start(form }}
	<input type="submit" value="{{ 'subject.new.submit'|trans }}" />
{{ form_end(form) }}
{% endblock body %}
